{% extends 'core/base.html' %}

{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img src="https://source.unsplash.com/random/800x600" alt="card image cap" class="card-img-top">
                        <div class="card-body">
                            <h4><a href="{{ core.get_absolute_urls }}">{{ post.title }}</a></h4>
                            <p class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ post.get_absolute_urls }}" class="btn btn-sm btn-outline-primary" role="button" aria-pressed="true">View</a>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}